/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/

	
a
	text-decoration none
	
	&:hover
		text-decoration underline
		
	img
		border 0
	
body
	font-size 1.3em
	background-color $Agua
	font-family $RobotoR
h1
	margin 0
	padding 0	

h3.titulos-acerca
	font-size 1.5em
	color $Blanco
	text-align center
	margin-top 20%

h2
	font-size 4rem
	color $AzulOsc
	text-align center
	margin-bottom 0

h4
	font-size 2rem
	color $AzulOsc
	margin 6% auto 2%
	width 80%
	font-family $RobotoR

h5
	font-size 4rem
	color $AzulOsc
	margin 30px auto
	font-family $RobotoL

h2.tit-destaca-int
	font-size 3rem
	color $AzulOsc
	margin-bottom 0
	text-align left

span.sub-desta-int
		color $GrisOsc
		font-size 1.8rem
		margin-bottom 10px

p.texto-corrido
	font-family $RobotoL
	font-size 1.5rem
	color $GrisT

.centrado
	width 100%
	text-align center
	margin-top 0
	
.padding
	padding 0

.oculta
	display none

.clear
	clear both

.inicio-margin-top
	margin-top 4%

.icono-hojas
	background-image url("../images/Iconos-Logo/Img-Icono-Hojas.png")
	width 58px
	height 58px
	display inline-block
	background-repeat no-repeat
	position absolute
	top 26%
	left 27%

.texto-acerca
	font-size 1.6rem
	color $Blanco
	margin 6% auto 0
	width 80%
	font-family $RobotoL

.sombra
	box-shadow -1px 0px 5px -2px $Negro
	
.sombraB
	box-shadow 10px 2px 8px -12px $Negro

.cont-inform-fnc
	background-color rgba(255, 255, 255, 0.5)
	margin-top 35px

.subtitulo-section
	font-size 2.2rem
	color $AzulOsc
	text-align center
	margin 0

.cont-destacados
	margin-top 1%
	margin-bottom 2%

.cont-iconos-destacados
	width 100%
	text-align center
	height 135px
	
.texto-porcent-dest
	color $VerdeOsc
	font-family $RobotoB
	font-size 5rem
	font-weight 200
	text-align center
	width 100%

.subtitulo-destacados
	font-size 2rem
	text-align center
	color $AzulOsc
	margin-top -6%

.texto-destacados
	font-family $RobotoL
	font-size 1.7rem
	color $AzulOsc

i.cont-icono
	 width 37%
	 float left
	 display inline-block
	 margin-top 44%

.texto-corr-azul
	color $AzulOsc
	font-family $RobotoL
	font-size 1.6rem
	line-height 1.6rem

.cont-inform-vi
	background-color $VerdeCla
	height 75vh

.descrp-inform
	float left
	margin 44% 0 44.6% 4%
	width 58%

.conte-play-video
	width 90px
	height 90px
	border-radius 100%
	background-color rgba(128, 181, 192, 0.6)
	position absolute
	border none
	left calc(50% - 45px)
	top 40%
	
	p
		font-size 5rem
		left 5px
		top 5px
		color $Blanco
		
.cont-video
	height 75vh
	background $Negro

.texto-mapa
	background-color rgba(174, 734, 227, 0.6)
	padding 2% 2%
	font-size 2rem
	font-family $$RobotoB
	color $AzulOsc
	text-transform uppercase
	top 60.3%
	width 100%
	position absolute
	text-align center
	margin-bottom 0

.cont-datos-ubicacion
	background-color $AzulOsc
	height 162px
	margin-top -5px

i.cont-iconoB
	 width 17%
	 float left
	 display inline-block
	 margin 8% 6% 6%

.text-datosU
	border-left 1px solid $Blanco
	float left
	height 100px
	font-family $RobotoL
	font-size 1.4rem
	margin-top 7%
	padding-left 19px
	width 65%
	color $Blanco
	font-size 1.2rem

.mapa-responsive
	padding-bottom 75% !important

	






