footer
	padding-top 2%
	padding-bottom 2%
	background-color $VerdeCla
	margin-top 40px

.contenedor-link-footer
	margin 0
	padding 0

	li
		list-style none
		
		a
			color $AzulOsc
			font-family $RobotoL
			
			&:hover, &:active, &:focus
				color $GrisOsc
				text-decoration none

.cont-redes-footer
	margin -4px 0 0
	padding 0
	float right
	
	li
		list-style none
		float left
		width 26px
	
.text-siguenos
	color $AzulOsc
	font-family $RobotoL
	font-style normal
	text-align right

.text-derechosR
	width 100%
	color $AzulOsc
	font-family $RobotoL
	font-style normal
	text-align right
	
	