input, textarea
	border 1px solid $VerdeOsc
	width 100%
	margin-bottom 20px
	padding 3px
	color $VerdeOsc

.padding-r
	padding-right 10px

.padding-l
	padding-left 10px

input.btn-enviar
	text-transform uppercase
	color $Blanco
	font-size 1.5rem
	background-color $VerdeOsc
	
	&:hover
		background-color $VerdeCla
		border none
		color $VerdeOsc