@media screen and (max-width:800px)
  li.menu-borde
        borber none !important

  #navegacion
    li
      width 100%
      background-color $VerdeCla
      
      &:hover, &:active, &:focus
        background-color $Blanco   
  ul
    
    &.menu-fundacion
      
      li
        
        &:not(:first-child)
          display none
  .icon
     float right
     display inline-block !important
     
     &:hover, &:active, &:focus
       text-decoration none !important
     

@media screen and (max-width:800px)
  ul
    &.menu-fundacion
      &.responsive
        position relative
        li
          float none
          display inline
          
          a
            display block
            text-align left
  
  .icon
            position absolute
            left 91%
            top 0%
  
  .cont-iconos-menu
    display none
  
  .icono-hojas
    left 34%
    top 44%
  
  .texto-mapa
    top 70.6%
  
  ul.menu-interna-opci li
    font-size 1.2rem

@media (max-width:1280px)

  p.text-menu, p.text-menu-donaciones
    text-align center
    padding 0 5%
    font-size 1.2rem
    
  .cont-iconos-menu
    width 33%
    margin-left 31%

@media (max-width:991px)
  
  .subtitulo-destacados
    margin-top -1%
  
  i.cont-icono
    margin-left 8%
    width 22%
  
  .cont-video
    margin-top 0% !important
  
  .texto-mapa
    top 72.6%
  
  i.cont-iconoB
    margin 5% 6% 6%
    
  .text-datosU
    margin-top 4%
  
@media (max-width:768px)
  .texto-mapa
    top 70.1%

@media (max-width:600px)
  .icon
    top -264%
  
  .texto-mapa
    top 65.5%
  
  ul.menu-interna-opci li
    font-size 1rem !important
    width 100% !important
    background-color $VerdeCla
  
  .icono-hojas
    left 26%
    top 34%

@media (max-width:480px)
  .icon
    top -202%
  
  .cont-inform-vi
    height 54vh
  

@media (max-width:414px)
  .icon
    top -166%

@media (max-width:320px)
  .icon
    top -115%
    left 86%