@media screen and (max-width:680px)
  ul
    
    &.menu-fundacion
      
      li
        
        &:not(:first-child)
          display none
  .icon
     float right
     display inline-block !important

@media screen and (max-width:680px)
  ul
    &.menu-fundacion
      &.responsive
        position relative
        li
          float none
          display inline
          a
            display block
            text-align left
  
  .icon
            position absolute
            left 92%
            top -283%