header
	background-color rgba(242, 242, 242, 0.7)
	height 89px
	
#navegacion
	margin 1.5% 0 0
	padding 0
	font-family $RobotoL
	
	li
		list-style none
		float left
		height 60px
		width 20%
			
.icon
	display none

.cont-buscador, #cont-buscador-fnc
	margin-top 28px
	
.menu-borde
	border-right 1px solid $Gris

.cont-iconos-menu
	float left
	margin 0 15px

p.text-menu
	color $GrisOsc	
	font-size 1.5rem
	line-height 1.5rem
	margin-top 16px	
	
	&:hover, &:active, &:focus
				display none
				color $AzulOsc

p.text-menu-donaciones
	color $VerdeOsc
	font-weight bold
	font-size 1.2rem
	margin-top 16px	
	
	&:hover, &:active, &:focus
				display none
				color $AzulOsc
	
.btn-buscador
	height 30px
	width 30px
	border-radius 100%
	background-color $AzulOsc
	display block
	color $Blanco
	text-align center
	font-size 1.5rem
	padding-top 5px
	
	&:hover, &:active, &:focus
		color $Gris
	
	input
		width 100%

.noexist
	margin 0
	padding 0
	width 0 !important

div.icon

	a
		font-size 5rem !important
		color $Blanco
	
		&hover
			text-decoration none



		