/*

En este archivo se declaran los colores, las fonts y sus variaciones

*/

//Paleta de colores del proyecto

$Gris			= #d7d7d7
$GrisT			= #a4a4a9	
$GrisCla	    = #f2f2f2
$GrisOsc	    = #686767
$VerdeOsc       = #2b8597
$VerdeCla       = #aeeae3
$VerdeClaB		= #b4f9f1
$AzulOsc        = #166170
$Agua			= #008c95
$Agua2			= #59d1d9
$Agua3			= #39b6be
$Blanco			= #ffffff
$Negro			= #000000


/*Pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$RobotoR = 'RobotoR', sans-serif
$RobotoB = 'RobotoB', sans-serif
$RobotoM = 'RobotoM', sans-serif
$RobotoL = 'RobotoL', sans-serif

//Font weights
$Light  = 300
$Normal = 400
$Bold   = 700