
//Menu
div.col-lg-12.col-md-12.col-sm-12.col-xs-12
	nav.bar
		ul#navegacion.menu-fundacion
				li.noexist
				li.menu-borde
					a(href="#") 
						i.cont-iconos-menu
							img.img-responsive(src="images/Iconos-Logo/Img-Icono-Servicios.png", alt="Servicios", tittle="Servicios")

						p.text-menu
							|Servicios

				li.menu-borde
					a(href="#") 
						i.cont-iconos-menu
							img.img-responsive(src="images/Iconos-Logo/Img-Icono-Educacion.png", alt="Servicios", tittle="Servicios")

						p.text-menu
							|Educación y Docencia

				li.menu-borde
					a(href="#") 
						i.cont-iconos-menu
							img.img-responsive(src="images/Iconos-Logo/Img-Icono-Investigacion.png", alt="Servicios", tittle="Servicios")

						p.text-menu
							|Investigación

				li.menu-borde
					a(href="#") 
						i.cont-iconos-menu
							img.img-responsive(src="images/Iconos-Logo/Img-Icono-Usuarios.png", alt="Servicios", tittle="Servicios")

						p.text-menu
							|Usuarios FNC


				li.menu-borde
					a(href="#") 
						i.cont-iconos-menu
							img.img-responsive(src="images/Iconos-Logo/Img-Icono-Donaciones.png", alt="Servicios", tittle="Servicios")

						p.text-menu-donaciones
							|Donaciones

		div.icon
				a(href="javascript:void(0);", style="font-size:15px;", onclick="myFunction()")
						|☰
///-Menu