extends ../templates/base

block title
	-var titulo = "Interna";
	title Interna

block content
	div.cont-florFonL.col-lg-3.col-md-4.col-sm-4.col-xs-4
		img.img-responsive(src="images/Img-Flor-Back.png", alt="")
	div.cont-florFonR.col-lg-3.col-md-4.col-sm-4.col-xs-4
		img.img-responsive(src="images/Img-Flor-BackB.png", alt="")
	section.container-fluid.cont-banner-interna
		div.row
			div.banner-interna
				p.titulo-banner-interna
					| Lorem ipsum

	section.container-fluid
		div.row
			div.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-0.col-xs-offset-0.inicio-margin-top.con-tmenu-Inter.sombra
				ul.menu-interna-opci
					li
						a(href="#") Lorem ipsum
					li
						a(href="#") Lorem ipsum
					li
						a(href="#") Lorem ipsum
					li
						a(href="#") Lorem ipsum
					li
						a(href="#") Lorem ipsum
					li
						a(href="#") Lorem ipsum
					li
						a(href="#") Lorem ipsum
					li
						a(href="#") Lorem ipsum

		div.row
			div.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-0.col-xs-offset-0.contenedor-general-notas.sombra
				div#Tab-1
					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.





block Scripts