extends ../templates/base

block title
	-var titulo = "Interna";
	title Interna

block content
	div.cont-florFonL.col-lg-3.col-md-4.col-sm-4.col-xs-4
		img.img-responsive(src="images/Img-Flor-Back.png", alt="")
	div.cont-florFonR.col-lg-3.col-md-4.col-sm-4.col-xs-4
		img.img-responsive(src="images/Img-Flor-BackB.png", alt="")
	section.container-fluid.cont-banner-interna
		div.row
			div.banner-interna
				p.titulo-banner-interna
					| Lorem ipsum

	section.container-fluid
		div.row
			div.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-0.col-xs-offset-0.inicio-margin-top.con-tmenu-Inter.sombra
				ul.menu-interna-opci
					li.activo

						a.btn-tab(data-tab="cont-Consulta", data-toggle="tooltip", data-placement="top", title="Consulta")
							img.img-responsive(src="images/iconos-Interna/Icono-consulta.png", alt="")


					li
						a.btn-tab(data-tab="cont-Programas", data-toggle="tooltip", data-placement="top", title="Programas especiales")
							img.img-responsive(src="images/iconos-Interna/Icono-especiales.png", alt="")

					li
						a.btn-tab(data-tab="cont-CuidadoRes", data-toggle="tooltip", data-placement="top", title="Cuidado Respiratorio")
							img.img-responsive(src="images/iconos-Interna/Icono-cuidadoR.png", alt="")

					li
						a.btn-tab(data-tab="cont-Pruebas", data-toggle="tooltip", data-placement="top", title="Pruebas de función pulmonar")
							img.img-responsive(src="images/iconos-Interna/Icono-pruebas.png", alt="")

					li
						a.btn-tab(data-tab="cont-Rehab", data-toggle="tooltip", data-placement="top", title="Rehabilitación pulmonar")
							img.img-responsive(src="images/iconos-Interna/Icono-rehab.png", alt="")

					li
						a.btn-tab(data-tab="cont-CuidadosInt", data-toggle="tooltip", data-placement="top", title="Cuidados Intensivos")
							img.img-responsive(src="images/iconos-Interna/Icono-cuidadosI.png", alt="")

					li
						a.btn-tab(data-tab="cont-Neumoligia", data-toggle="tooltip", data-placement="top", title="Neumologia intervencionista")
							img.img-responsive(src="images/iconos-Interna/Icono-neumInt.png", alt="")

					li
						a.btn-tab(data-tab="cont-CentroS", data-toggle="tooltip", data-placement="top", title="Centro de estudios del sueño")
							img.img-responsive(src="images/iconos-Interna/Icono-centroS.png", alt="")

					li
						aa.btn-tab(data-tab="cont-Transplante", data-toggle="tooltip", data-placement="top", title="Programa de trasplante pulmonar")
							img.img-responsive(src="images/iconos-Interna/Icono-transplante.png", alt="")

					li
						a.btn-tab(data-tab="cont-Fibrosis", data-toggle="tooltip", data-placement="top", title="Fibrosis Quistica")
							img.img-responsive(src="images/iconos-Interna/Icono-fibrosis.png", alt="")

					li
						a.btn-tab(data-tab="cont-Hipertension", data-toggle="tooltip", data-placement="top", title="Hipertension Pulmonar")
							img.img-responsive(src="images/iconos-Interna/Icono-hipertension.png", alt="")
					

		div.row
			div.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-0.col-xs-offset-0.contenedor-general-notas.sombra
				div#cont-Consulta.oculto(style="display:block;")
					div.cont-img-interna
						h5
							| Consulta
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

				div#cont-Programas.oculto
					div.cont-img-interna
						h5
							| Programas Especiales
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

				div#cont-CuidadoRes.oculto
					div.cont-img-interna
						h5
							| Cuidado Respiratorio
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

				div#cont-Pruebas.oculto
					div.cont-img-interna
						h5
							| Pruebas de función pulmonar
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

				div#cont-Rehab.oculto
					div.cont-img-interna
						h5
							| Rehabilitación pulmonar
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

				div#cont-CuidadosInt.oculto
					div.cont-img-interna
						h5
							| Cuidados Intensivos
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

				div#cont-Neumoligia.oculto
					div.cont-img-interna
						h5
							| neumología Intervencionista
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

				div#cont-CentroS.oculto
					div.cont-img-interna
						h5
							| Centro de estudios del sueño
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

				div#cont-Transplante.oculto
					div.cont-img-interna
						h5
							| Programa de Transplante pulmonar
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

				div#cont-Fibrosis.oculto
					div.cont-img-interna
						h5
							| Fibrosis Quistica
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

				div#cont-Hipertension.oculto
					div.cont-img-interna
						h5
							| Hipertension pulmonar
						img.img-responsive(src="images/Img-Interna.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna2.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.

					div.cont-img-interna
						img.img-responsive(src="images/Img-Interna3.jpg", alt="")

					div.cont-texto-interna
						h5
							| Lorem ipsum dolor sit amet.

						p.texto-corrido
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae mollitia error, debitis sint nemo cupiditate facere minus maxime amet aliquam voluptatibus nam voluptas omnis est obcaecati ea reiciendis totam quos? Amet deserunt, ipsam molestias. Quis doloremque neque quasi sequi, repudiandae recusandae laboriosam nobis debitis, saepe eius tempora quam, molestiae ab tempore qui consequatur enim eaque ad excepturi deserunt! Ullam suscipit laudantium ad nesciunt officiis ipsam eos, cupiditate at dolorem, tempore cumque! Voluptatum optio quam, aspernatur ipsum a obcaecati cumque.





block Scripts